body {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  color: #3f4850;
  background-color: #1f1f1f;
}

.search-button {
  outline: none;
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
  background-color: #051c33;
  transition: all 0.3s;
}

.search-button.active {
  background-color: #1a65b1;
}

.searchIcon {
  transition: all 0.2s;
}

.search-button.active .searchIcon {
  transform: scale(1.2);
}

.imageGallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 70vh;
  -ms-align-items: flex-start;
  align-items: center;
  overflow-x: scroll;
}

.imageElement {
  width: 100%;
  transform: scale(1);
  transition: transform 0.5s;
}

.singleImage:hover .imageElement {
  transform: scale(1.35);
}

.imageGallery .not-found {
  width: 100%;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #051c33;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

.snapShotContainer {
  width: 80vw;
  margin: 0 auto;
  position: relative;
}

.imageThumbnailWrapper {
  overflow: hidden;
  margin-bottom: 15px;
  width: 13%;
  margin: 3px;
  border-radius: 5px;
  position: relative;
  line-height: 0;
}

.imageName {
  width: 100%;
  background-color: #051c33;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 5px 20px;
  color: white;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.4s;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 16px;
}

.imageThumbnailWrapper:hover .imageName {
  bottom: 0%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.not-found {
  padding-top: 5%;
}

.pageHeader {
  padding: 20px;
  height: 8vh;
  background-color: #03DAC5;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

}

.pageLogo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
}

#geo {
  font-size: 20px;
}

#snapshot {
  font-size: 20px;
  font-weight: 900;
}

.navSuggestionWrapper {
  margin-top: 15px;
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

.navSuggestionLinkList {
  display: flex;
}

.searchInput {
  font-size: 16px;
  background-color: #edeff0;
  padding: 5px 15px;
  border: 0;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 100%;
}

.search-form {
  display: flex;
  flex-grow: 1;
}

.headerMain {
  flex-grow: 1;
}

.navLink {
  padding: 5px;
  cursor: pointer;
  font-weight: 700;
  margin: 0 5px;
}

.navLink:hover {
  text-decoration: underline;
}

.navSuggestion .active {
  background-color: #051c33;
}
